*.a
*.o
*.cc
primes.lst
docs
gen
app
app-n2
csv2gmp
array-util
test/test-cbmerge
test/test-cbextend
test/test-cb
test/test-split
test/test-findfactor
test/test-gcdppgpple
test/test-appendcb
test/test-array
test/test-arrayio
test/test-gcdppippo
test/test-gmp
test/test-prod
test/test-twopower
test/test-pool
deploy*
.project
.cproject
.pydevproject
.sconsign.dblite
.settings
.DS_Store
config.h
config.log
.sconf_temp
test/test.lst